.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;

  @media (max-width: 768px) {
    height: 100vh;
  }
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
  width: 65%;

  @media (max-width: 768px) {
    display: none;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.grayBackground {
  background-color: hsl(195deg, 20%, 86%);
  position: fixed;
  height: 40%;
  width: 100%;
  bottom: 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.characterWrapper {
  height: 100%;
  min-height: 500px;
  position: fixed;
  right: 0;
  top: 0;

  @media (max-width: 768px) {
    left: 0;
    margin: auto;
  }
}

.controlColumn {
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    position: fixed;
    bottom: 20vh;
    z-index: 1;
    /* offset padding from maxWidthWrapper & 100% width */
    padding-right: 64px;

    > * {
      display: inline-block;
      margin: 0 10px;
      width: 80vw;
    }
  }
}
